{% extends 'base.html' %}
{% block content %}

<div class="container" id="container">
    <h3><strong>Login</strong></h3>

    <form method="post">
        {% csrf_token %}
    
        <div class="form-group">
            {{form_login.username.errors}}
            <label>Username: </label>
            {{form_login.username}}
        </div>
    
        <div class="form-group">
            {{form_login.password.errors}}
            <label>Senha: </label>
            {{form_login.password}}
        </div>
    
        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary">
            </div>
    </form>
</div>
<script>
    let inputfields = document.getElementsByTagName('input')
    let descfield = document.getElementById('id_sobre')
    descfield.classList.add('form-control')

    for (let i = 0; i < inputfields.length; i++) {
        inputfields[i].classList.add('form-control')
    }
</script>

{% endblock %}